@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    font-size: 16px;
    line-height: 24px;
    color: white;
}


.migration-section {
    width: 100%;
    height: 80%;
    background-color: #1f1346;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 450px; */
    /* consultar  */
    /* gap: 100px; */
    padding-bottom: 50px;
}

.migration-section__content-container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.migration-header {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    gap: 35px;
}

.migration-title {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.migration-description {
    text-align: center;
    line-height: 1.5;
}

.migration-card-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 25px;
}

.migration-card-element {
    flex: 1;
    /* todas las cards van a ocupar el mismo ancho */
    background-color: #2f1c6a;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.migration-card-icon {
    width: 40px;
    height: 40px;
    background-color: #673de6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.migration-card-icon {
    svg{
        width: 70%;
        height: 70%;
    }
}

.migration-card-subtitle {
    font-weight: bold;   /* En negrita */
    font-size: 18px;
}

.migration-card-description {
    color: white;
    font-weight: 500;
}

.migration-button {
    background-color: #673de6;  /* El fondo del boton */
    padding: 15px 40px 15px 40px;   /* Al sentido de las agujas */
    border-radius: 8px;
    color: white;    /* El color de la letra */
    font-weight: bold;   /* En negrita */
    font-size: 16px;    /* Tama */
}

.migration-button:hover {
    background-color: #4820c0;
}

button.migration-button {
    box-shadow: none;
    outline: none;
    border: none;
}

button.migration-button:focus,
button.migration-button:active {
    box-shadow: none;
    outline: none;
}